@charset "utf-8";
html{font-size:62.5%;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{box-sizing:border-box;line-height:1.5;margin:0;padding:0;border:0;color:#111;font-family:'Noto Sans','Apple SD Gothic Neo','맑은고딕','MalgunGothic', 'AppleGothic', sans-serif;letter-spacing:-0.025rem;vertical-align:baseline}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle;-webkit-appearance:none;border:none;border-radius:0;-webkit-tap-highlight-color:transparent;box-sizing:border-box;font-family:'Noto Sans','Apple SD Gothic Neo','맑은고딕','MalgunGothic', 'AppleGothic', sans-serif;cursor:pointer}
button{border-collapse:collapse;border-spacing:0;border:0 none;background:transparent}
body{-webkit-text-size-adjust:none;font-size:1.6rem;}
input[type='text'],input[type='password'],input[type='submit'],input[type='search']{-webkit-appearance:button;border-radius:0}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file']{-webkit-appearance:button;border-radius:0;cursor:pointer;}/* 작업시 가독성을 위해 cursor 변경 */
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}
a{font-size:inherit;font-weight:inherit;color:inherit;text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
img{max-width:100%;height:auto}
table {border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%}
i {font-family:'allonebank2','allonebank';font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
i:before{display:inline-block}
span,em,
p,
b,strong{font-size:inherit;line-height:inherit;color:inherit}
a{font-size:inherit;font-weight:inherit;line-height:inherit}
:focus,:active {outline:none;-webkit-tap-highlight-color:transparent}

@font-face{font-family:'Noto Sans';
	src:url('../../fonts/NotoSansKR-Regular.otf') format('opentype'),
	url('../../fonts/NotoSansKR-Regular.woff') format('woff'),
	url('../../fonts/NotoSansKR-Regular.woff2') format('woff2'),
	url('../../fonts/NotoSansKR-Regular.ttf') format('truetype');
	font-weight:normal;
}
@font-face{font-family:'Noto Sans';
	src:url('../../fonts/NotoSansKR-Medium.otf') format('opentype'),
	url('../../fonts/NotoSansKR-Medium.woff') format('woff'),
	url('../../fonts/NotoSansKR-Medium.woff2') format('woff2'),
	url('../../fonts/NotoSansKR-Medium.ttf') format('truetype');
	font-weight:bold;
}

/* 숨김 텍스트 */
.visualhide {border:0 !important;clip:rect(0 0 0 0) !important;height:1px !important;margin:-1px !important;overflow:hidden !important;padding:0 !important;position:absolute !important;width:1px !important}

/* 컴포넌트 간격 */
.gap-sm{margin-top:3rem !important}
.gap{margin-top:4rem !important}
.gap-lg{margin-top:6rem !important}
.gap-sm:first-child,
.gap:first-child,
.gap-lg:first-child{margin-top:0 !important}

/* 양옆 페딩 관련 */
.padd-reset{padding-left:0 !important;padding-right:0 !important}
.padd-md{padding-left:var(--paddCommon) !important;padding-right:var(--paddCommon) !important}
.padd-lg{padding-left:var(--paddBig) !important;padding-right:var(--paddBig) !important}

/* 색 */
.text-green{font-size:inherit;font-weight:inherit;color:#08862a !important}
.text-gray{font-size:inherit;font-weight:inherit;color:#646873 !important}
.text-lightgray{font-size:inherit;font-weight:inherit;color:#737686 !important}
.text-black{font-size:inherit;font-weight:inherit;color:#111 !important}
.text-red{font-size:inherit;font-weight:inherit;color:#ec0c0c !important}
.text-blue{font-size:inherit;font-weight:inherit;color:#2c6dd4 !important}
.text-normal{font-size:inherit;font-weight:normal !important;color:inherit}
.text-bold{font-size:inherit;font-weight:bold !important;color:inherit}
.text-underline{position:relative}
.text-underline::after{content:'';position:absolute;left:0;bottom:-0.2rem;width:100%;height:0.1rem;background-color:#111}
.text-green.text-underline::after,
.text-green .text-underline::after{background-color:#08862a}
.text-gray.text-underline::after,
.text-gray .text-underline::after{background-color:#646873}
.text-lightgray.text-underline::after,
.text-lightgray .text-underline::after{background-color:#737686}
.text-black.text-underline::after,
.text-black .text-underline::after{background-color:#111}
.text-red.text-underline::after,
.text-red .text-underline::after{background-color:#ec0c0c}
.text-blue.text-underline::after,
.text-blue .text-underline::after{background-color:#2c6dd4}
.text-ellip{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.bg-gray{background-color:#f9f9f9}

/* 노출, 숨김 용 */
.dp-block{display:block !important}
.dp-none{display:none !important}

/* 텍스트 크기 */
.text-10 {font-size:1rem !important; line-height:1.5rem;}
.text-11 {font-size:1.1rem !important; line-height:1.6rem;}
.text-12 {font-size:1.2rem !important; line-height:1.7rem;}
.text-13 {font-size:1.3rem !important; line-height:1.8rem;}
.text-14 {font-size:1.4rem !important;}
.text-15 {font-size:1.5rem !important;}
.text-16 {font-size:1.6rem !important;}
.text-18 {font-size:1.8rem !important;}
.text-20 {font-size:2rem !important;}
.text-22 {font-size:2.2rem !important;}

/* 정렬 */
.text-left{text-align:left !important}
.text-center{text-align:center !important}
.text-right{text-align:right !important}
.align-between{display:flex;justify-content:space-between;align-items:center;}

/*//////////////////// 기본스타일 ////////////////////*/
/* 제목 기본 스타일 */
.terms-box .heading1{font-size:2.8rem;line-height:4rem;}
.terms-box .heading2{font-size:2.2rem;line-height:2.9rem;}
.terms-box .heading3{font-size:2rem;line-height:2.7rem;}
.terms-box .heading4{font-size:1.8rem;line-height:2.7rem;}
.terms-box .heading5{font-size:1.7rem;line-height:2.6rem;}

.terms-box /* 문장, 문단, 글자 기본 스타일 */
.terms-box .basic1{font-size:1.6rem;line-height:2.5rem;}/* 기본 스타일 */
.terms-box .basic2{font-size:1.5rem;line-height:2.3rem;}
.terms-box .basic3{font-size:1.4rem;line-height:2.2rem;}
.terms-box .basic4{font-size:1.3rem;line-height:2rem;}
.terms-box .basic5{font-size:1.2rem;line-height:1.8rem;}
.terms-box .basic6{font-size:1.1rem;line-height:1.7rem;}
.terms-box .basic7{font-size:1rem;line-height:1.6rem;}

.terms-box /* 블릿 리스트 */
.terms-box .p-notelist .list-item {position:relative;padding-left:1rem;color:#646873;font-size:1.4rem;line-height:2.5rem;white-space:normal;word-break:keep-all;word-wrap:break-word;}
.terms-box .p-notelist .list-item:not(:first-of-type) {margin-top:1rem;}
.terms-box .p-notelist .list-item::before {content:'';display:inline-block;position:absolute;left:0;top:1rem;width:0.3rem;height:0.3rem;border-radius:50%;background-color:#646873;}
.terms-box /* 데쉬 리스트 */
.terms-box .dash-list li {position:relative;padding-left:1rem;font-size:1.4rem;}
.terms-box .dash-list li::before {content:'-';position:absolute;left:0;top:0;font-size:inherit;color:inherit;}
.terms-box /* 블릿 in 데쉬 리스트 */
.terms-box .p-notelist .dash-list {padding:0;}

.terms-box /* 테이블 */
.terms-box .table-area [class^="h"] + .table {margin-top:0.9rem}
.terms-box caption {overflow:hidden;line-height:0;font-size:0;text-indent:-999999px;}
.terms-box .table {border-top:1px solid #aeafb4;text-align:left;}
.terms-box .table th, 
.terms-box .table tbody td {font-size:1.6rem;line-height:1.8rem;padding:1.7rem 0.4rem;color:#111;border-left:1px solid #d3d3d9;border-right:1px solid #d3d3d9;border-bottom:1px solid #d3d3d9;vertical-align:middle;}
.terms-box .table th {font-weight:normal;color:#646873;text-align:center;vertical-align:middle;background-color:#f6f6f6;}
.terms-box .table th:first-child,
.terms-box .table td:first-child {border-left:0;}
.terms-box .table th:last-child,
.terms-box .table td:last-child {border-right:0;}
.terms-box .table .check {width:2.813rem;}
.terms-box .table .check-input + label::before {margin-right:0;}
.terms-box .table [class^="listbox"]:not(.listbox-agreement) {border:0;padding:0;}
.terms-box [class^="table text-"] th,
.terms-box [class^="table text-"] tbody td {font-size:inherit;}
.terms-box .table-area .table-result{display:flex;justify-content:space-between;align-items:center;padding:1.7rem 0.4rem;border-bottom:1px solid #d3d3d9}
.terms-box .table-area .table-result .total{font-size:1.5rem;}
.terms-box .table-area .table-result .money{font-size:1.8rem;font-weight:bold;color:#08862a;}

@media (max-width:340px){
    html{font-size:54.6875%}
    img{width:100%;min-width:100%;max-width:100%}
}