@charset "utf-8";

/* 웹폰트 */
/* SpoqaHanSansNeo */
@font-face {
	font-family: 'SpoqaHanSansNeo';
	src: url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.eot');
	src: url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.eot?#iefix') format('embedded-opentype'),
		 url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff') format('woff');
	font-stretch: normal;
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: 'SpoqaHanSansNeo';
	src: url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.eot');
	src: url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff');
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'SpoqaHanSansNeo';
	src: url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.eot');
	src: url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff');
	font-stretch: normal;
	font-style: normal;
	font-weight: 500;
}

/* as-is reset */
html, body {height:100%;}
body {font-family:'SpoqaHanSansNeo', 'malgun gothic', 'sans-serif', 'dotum';font-size:14px;color:#303030;}
p {margin:0;}
.a11y.layout {background-color:#fff;}
.a11y div.header {height:107px;}
.a11y.layout .container {padding:130px 30px 30px;}
.a11y div.header div.info_project .title {display:block;margin-top:10px;}
.a11y .naviarea_inner {min-height:28px;}

/* common */
.a11y .h2:not(:first-child) {margin-top:40px;}
.a11y .h4 {margin-top:25px;margin-bottom:10px;padding-left:20px;}
.a11y .p {margin-top:5px;}
.a11y ._bold {font-weight:500;}
.a11y .badge {margin-right:5px;padding:2px 7px;font-size:11px;font-weight:200;color:#fff;background-color:#687581;border-radius:10px;}

.a11y .h2 + .desc-box,
.a11y .h3 + .desc-box,
.a11y .p + .desc-list {margin-top:15px;}
.a11y .desc-box + .h3,
.a11y div + .h3,
.a11y .desc-box + .h4 {margin-top:25px;}
.a11y .h4 + .desc-box {margin-top:5px;}

.a11y .desc-list__item + .desc-list__item {margin-top:7px;}
.a11y .desc-list__item {position:relative;padding-left:10px;}
.a11y .desc-list__item:after {content:'';position:absolute;top:8px;left:0;display:block;width:3px;height:3px;border-radius:50% 50%;background-color:#333;}

.a11y .desc-box:not(.-sub) {padding:20px;background-color:#f1f1f1;border-radius:5px;}
.a11y .desc-box:not(.-sub) .desc-list__item {color:#666;}
.a11y .desc-box.-sub {padding-left:20px;}
.a11y .desc-box.-sub .desc-list__item {padding-left:15px;}
.a11y .desc-box.-sub .desc-list__item:after {top:10px;background:none;border-top:1px solid #333;border-right:1px solid #333;transform:rotate(45deg) translateY(calc(-50% - 2px));border-radius:0;}
.a11y .desc-box.-sub + div {padding-top:5px;}

.shortcuts-box, 
.shortcuts-list {display:flex;}
.shortcuts-tit {color:#0066b1;font-weight:bold;}
.shortcuts-tit:after {content:'';margin-left:5px;display:inline-block;width:0;height:0;border-top:5px solid transparent;border-left:7px solid #0066b1;border-right:10px solid transparent;border-bottom:5px solid transparent;}
.shortcuts-item:before,
.shortcuts-item:after {content:'';display:inline-block;width:1px;height:10px;background-color:#ddd;}
.shortcuts-link {display:inline-block;padding:0 10px;}
.shortcuts-link:hover {text-decoration:underline;}

.btn-top {position:fixed;right:20px;bottom:10px;width:40px;height:40px;line-height:40px;text-align:center;background-color:rgba(220, 220, 220, 0.5);border:1px solid #ddd;border-radius:50%;}
.btn-top:hover {background-color:rgba(220, 220, 220, 0.7);}