@charset "utf-8";
html{font-size:62.5%;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input
{box-sizing:border-box;line-height:1.5;margin:0;padding:0;border:0;color:#111;font-family:'Noto Sans','Apple SD Gothic Neo','맑은고딕','MalgunGothic', 'AppleGothic', sans-serif;letter-spacing:-0.025rem;vertical-align:baseline}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle;-webkit-appearance:none;border:none;border-radius:0;-webkit-tap-highlight-color:transparent;box-sizing:border-box;font-family:'Noto Sans','Apple SD Gothic Neo','맑은고딕','MalgunGothic', 'AppleGothic', sans-serif;cursor:pointer}
button{border-collapse:collapse;border-spacing:0;border:0 none;background:transparent}
body{-webkit-text-size-adjust:none;font-size:1.6rem;}
input[type='text'],input[type='password'],input[type='submit'],input[type='search']{-webkit-appearance:button;border-radius:0}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file']{-webkit-appearance:button;border-radius:0;cursor:pointer;}/* 작업시 가독성을 위해 cursor 변경 */
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}
a{font-size:inherit;font-weight:inherit;color:inherit;text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
img{max-width:100%;height:auto}
table {border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%}
i {font-family:'allonebank2','allonebank';font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:inherit}
i:before{display:inline-block}
span,em,
p,
b,strong{font-size:inherit;line-height:inherit;color:inherit}
a{font-size:inherit;font-weight:inherit;line-height:inherit}
:focus,:active {outline:none;-webkit-tap-highlight-color:transparent}
@media (max-width:340px){
    html{font-size:54.6875%}
    img{width:100%;min-width:100%;max-width:100%}
}