@charset "utf-8";
/* 변수 - 추후 취합 */
:root {
    --primaryColor : #2F6DFC;
    --text-normal : #303030;
    --text-normal01 : #707070;
    --text-normal02 : #909090;    
    --grayColor01 : #F3F4F8;
}

/* 공통 */
.ebbtn.ty_solid {height:40px;line-height:40px;font-size:14px;background-color:var(--grayColor01);border-radius:10px;}
.ebbtn.full {width:100%;}

/* 마이페이지 > 내정보관리 */
.renewal_2024 .form_set + .section-title {margin-top:32px;}
.renewal_2024 .section-title + .info-list {margin-top:22px;}
.renewal_2024 .info-list-row + .info-list-row {margin-top:16px;}
.renewal_2024 .linkbtn_part {padding-top:32px;}
.renewal_2024 .section-item +.section-item {padding-top:32px;}
.renewal_2024 .section-item {padding-bottom:32px;border-bottom:1px solid #f0f0f0;}
.renewal_2024 .section-item:first-child {padding-top:32px;}
.renewal_2024 .section-title {font-size:19px;}
.renewal_2024 .info-list-row {display:flex;}
.renewal_2024 .info-list-key,
.renewal_2024 .info-list-value {flex-grow:1;font-size:14px;color:var(--text-normal01);}
.renewal_2024 .info-list-key {flex-shrink:0;width:100px;}
.renewal_2024 .info-list-value {text-align:right;}

/* 마이페이지 > 내정보확인 */
.renewal_2024 .form_set .ebullet_circle {margin-top:12px;}
.renewal_2024 .form_set .ebullet_circle > li {font-size:13px;color:var(--text-normal02);line-height:1.5;}
.renewal_2024 .form_set .ebullet_circle > li:after {width:3px;height:3px;}

/* 캡션 */
.renewal_2024 .form_pack + .caption-text {margin-top:12px;}
.renewal_2024 .section-list + .caption-box.has-divider {margin-top:32px;}
.renewal_2024 .caption-box.has-divider {position:relative;padding-top:44px;}
.renewal_2024 .caption-box.has-divider:after {content:'';position:absolute;top:0;left:-25px;right:-25px;height:12px;background-color:var(--grayColor01);}
.renewal_2024 .caption-title {padding-left:22px;font-size:17px;background:url('../image/contents/common/ico_caption.png') no-repeat left center;background-size:20px;}
.renewal_2024 .caption-title + .caption-text {margin-top:16px;}
.renewal_2024 .caption-text {font-size:14px;color:var(--text-normal01);}
.renewal_2024 .caption-text.dot {position:relative;padding-left:9px;}
.renewal_2024 .caption-text.dot:before {content:'';position:absolute;top:8px;left:0;width:3px;height:3px;border-radius:50%;background-color:var(--text-normal01);}
.renewal_2024 .caption-text + .ebbtn.ty_solid {margin-top:12px;}
.renewal_2024 .caption-text.sm {font-size:13px;color:var(--text-normal02);}

/* 메인 - 헤더 */
.header.renewal_2024 .header_area {padding:0 20px;}
.header.renewal_2024 .switch_pack {margin-top:15px;width:60px;background-color:#B4BEC8;}
.header.renewal_2024 .switch_pack .eblabel {left:2px;margin-top:-11px;width:22px;height:22px;}
.header.renewal_2024 .switch_pack .eblabel:before {content:'간편';position:absolute;top:2px;left:26px;width:30px;font-size:13px;color:#fff;font-weight:normal;letter-spacing:0.5px;transition:0.3s;}
.header.renewal_2024 .switch_pack .ebcheckbox[chekced="checked"] + .eblabel,
.header.renewal_2024 .switch_pack .ebcheckbox:checked + .eblabel {left:37px;}
.header.renewal_2024 .switch_pack .ebcheckbox[chekced="checked"] + .eblabel:before,
.header.renewal_2024 .switch_pack .ebcheckbox:checked + .eblabel:before {left:-28px;}

/* 메인 - 상품 영역 공통 */
.renewal_2024 .main-section {position:relative;margin:0 -25px;padding:40px 20px;}
.renewal_2024 .main-section:first-child {padding-top:20px;}
.renewal_2024 .main-section.odd {background-color:#fff;border-radius:0 44px 0 44px;}
.renewal_2024 .main-section.odd:first-child {border-radius:0 0 0 44px;}
.renewal_2024 .main-section.odd:before,
.renewal_2024 .main-section.odd:after {content:'';position:absolute;width:44px;height:44px;background-color:#fff;}
.renewal_2024 .main-section.odd:before {top:-44px;left:0;}
.renewal_2024 .main-section.odd:after {bottom:-44px;right:0;}
.renewal_2024 .main-section.odd:first-child:before {display:none;}
.renewal_2024 .main-section.even {z-index:10;background-color:#F4F5F9;border-radius:0 44px 0 44px;}
.renewal_2024 .text-section-title + .section-content {margin-top:16px;}
.renewal_2024 .section-content {padding:0 20px 20px;background-color:#fff;border-radius:18px 36px 18px 36px;box-shadow:0px 10px 40px -8px rgba(0, 0, 0, 0.15);}
.renewal_2024 .section-content-head {position:relative;margin-left:-20px;margin-right:-20px;padding:20px;height:140px;background-color:var(--primaryColor);border-radius:18px 36px 18px 36px;box-sizing:border-box;}
.renewal_2024 .section-content-head:after {content:'';position:absolute;right:20px;width:88px;height:123px;background:url('../image/main/img_charactor_01.png') no-repeat right bottom;background-size:100% auto;}
.renewal_2024 .main-section .btn_normal {height:52px;line-height:52px;font-size:16px;color:var(--primaryColor);background-color:#F2F5FF;border-radius:10px 20px 10px 20px;}
.renewal_2024 .text-section-title {font-size:19px;font-weight:bold;}
.renewal_2024 .text-section-title:after {content:'';display:inline-block;margin-top:-4px;margin-left:4px;width:20px;height:20px;vertical-align:middle;}
.renewal_2024 .text-section-title.ico-01:after {background:url('../image/main/ico_product_mini_01.png') no-repeat;background-size:100% 100%;}/* 신용대출 */
.renewal_2024 .text-section-title.ico-02:after {background:url('../image/main/ico_product_mini_02.png') no-repeat;background-size:100% 100%;}/* 스탁론 */
.renewal_2024 .text-section-title.ico-03:after {background:url('../image/main/ico_product_mini_03.png') no-repeat;background-size:100% 100%;}/* 자동차 */
.renewal_2024 .text-section-title.ico-04:after {background:url('../image/main/ico_product_mini_04.png') no-repeat;background-size:100% 100%;}/* 그 외 */
.renewal_2024 .text-head-title {font-size:20px;font-weight:bold;color:#fff;}
.renewal_2024 .text-head-title em {font-style:normal;color:#ffd400;}

/* 메인 - 1위 영역 */
.renewal_2024 .main-section.first .section-content-head {background:var(--primaryColor) url('../image/layout/bg_nh_text_01.png') no-repeat right bottom;background-size:167px auto;}
.renewal_2024 .main-section.first .section-content-head:after {bottom:-27px;}
.renewal_2024 .section-content-head + .product-keywords {margin-top:46px;margin-right:-10px;}
.renewal_2024 .product-keywords + .btn_normal {margin-top:22px;}
.renewal_2024 .product-keywords {display:flex;flex-wrap:wrap;}
.renewal_2024 .product-keyword {margin-right:10px;margin-bottom:10px;padding:0 14px 0 14px;height:37px;line-height:37px;font-size:15px;letter-spacing:-0.5px;background-color:#F2F5FF;border-radius:20px;}
.renewal_2024 .product-keyword:before {content:'';display:inline-block;margin-right:6px;width:18px;height:18px;vertical-align:middle;background-color:green}
.renewal_2024 .section-content-head + .product-reclinks {margin-top:50px;}
.renewal_2024 .product-reclinks {display:flex;justify-content:space-between;padding:0 12px 20px 12px;}
.renewal_2024 .product-reclinks .product-reclink {display:block;font-size:14px;text-align:center;}
.renewal_2024 .product-reclinks .product-reclink:before {content:'';display:block;margin-bottom:12px;width:62px;height:62px;border-radius:20px;}
.renewal_2024 .product-reclinks .product-reclink.ico-01:before {background:var(--grayColor01) url('../image/main/ico_product_link_01.png') no-repeat center center;background-size:32px 36px;}/* 신규대출 */
.renewal_2024 .product-reclinks .product-reclink.ico-02:before {background:var(--grayColor01) url('../image/main/ico_product_link_02.png') no-repeat center center;background-size:32px 36px;}/* 대환대출 */
.renewal_2024 .product-reclinks .product-reclink.ico-03:before {background:var(--grayColor01) url('../image/main/ico_product_link_03.png') no-repeat center center;background-size:32px 36px;}/* 추가대출 */
.renewal_2024 .product-reclinks .product-reclink.ico-04:before {background:var(--grayColor01) url('../image/main/ico_product_link_04.png') no-repeat center center;background-size:32px 36px;}/* 신규대출 */
.renewal_2024 .product-reclinks .product-reclink.ico-05:before {background:var(--grayColor01) url('../image/main/ico_product_link_05.png') no-repeat center center;background-size:32px 36px;}/* 대환대출 */
.renewal_2024 .product-reclinks .product-reclink.ico-06:before {background:var(--grayColor01) url('../image/main/ico_product_link_06.png') no-repeat center center;background-size:32px 36px;}/* 추가대출 */


/* 메인 - 2위 영역 */
.renewal_2024 .main-section.second .section-content-head {background:#E2E8FF url('../image/layout/bg_nh_text_02.png') no-repeat right bottom;background-size:167px auto;}
.renewal_2024 .main-section.second .text-head-title {color:var(--text-normal);}
.renewal_2024 .main-section.second .section-content-head:after {bottom:-27px;}
.renewal_2024 .section-content-head + .product-conditions {margin-top:46px;}
.renewal_2024 .product-conditions {padding-bottom:12px;}
.renewal_2024 .product-condition + .product-condition {margin-top:24px;}
.renewal_2024 .product-condition {display:flex;justify-content:space-between;}
.renewal_2024 .condition-item .text + .text {margin-top:8px;}
.renewal_2024 .condition-item .text {display:block;}
.renewal_2024 .condition-item .text.title {font-size:16px;font-weight:bold;}
.renewal_2024 .condition-item .text.normal {font-size:14px;color:var(--text-normal01);}
.renewal_2024 .condition-item .text.highlight {font-size:15px;font-weight:bold;color:var(--primaryColor);}
.renewal_2024 .condition-item:nth-child(even) .text.normal {text-align:right;}
/* 배너 */
.product-banners .banner-link {display:inline-block;}