@charset "utf-8";
/* 변수 - 추후 취합 */
:root {
    --text-normal01 : #707070;
    --divider : #F3F4F8;
}

/* 공통 */
.ebbtn.ty_solid {height:40px;line-height:40px;font-size:14px;background-color:#F3F4F8;border-radius:10px;}
.ebbtn.full {width:100%;}

/* 마이페이지 > 내정보관리 */
.renewal_2024 .linkbtn_part {padding-top:32px;}
.renewal_2024 .section-item +.section-item {padding-top:32px;}
.renewal_2024 .section-item {padding-bottom:32px;border-bottom:1px solid #f0f0f0;}
.renewal_2024 .section-item:first-child {padding-top:32px;}
.renewal_2024 .section-title {font-size:19px;}
.renewal_2024 .section-title + .info-list {margin-top:22px;}
.info-list-row + .info-list-row {margin-top:16px;}
.renewal_2024 .info-list-row {display:flex;}
.renewal_2024 .info-list-key,
.renewal_2024 .info-list-value {flex-grow:1;font-size:14px;color:var(--text-normal01);}
.renewal_2024 .info-list-key {flex-shrink:0;width:100px;}
.renewal_2024 .info-list-value {text-align:right;}

/* 캡션 */
.renewal_2024 .section-list + .caption-box.has-divider {margin-top:32px;}
.renewal_2024 .caption-box.has-divider {position:relative;padding-top:44px;}
.renewal_2024 .caption-box.has-divider:after {content:'';position:absolute;top:0;left:-25px;right:-25px;height:12px;background-color:var(--divider);}
.renewal_2024 .caption-title {padding-left:22px;font-size:17px;background:url('../image/contents/common/ico_caption.png') no-repeat left center;background-size:20px;}
.renewal_2024 .caption-title + .caption-text {margin-top:16px;}
.renewal_2024 .caption-text {font-size:14px;color:var(--text-normal01);}
.renewal_2024 .caption-text.dot {position:relative;padding-left:9px;}
.renewal_2024 .caption-text.dot:before {content:'';position:absolute;top:8px;left:0;width:3px;height:3px;border-radius:50%;background-color:var(--text-normal01);}
.renewal_2024 .caption-text + .ebbtn.ty_solid {margin-top:12px;}