@charset "utf-8";
/* 변수 - 추후 취합 */
:root {
    --primaryColor : #2F6DFC;
    --grayColor01 : #303030;
    --grayColor02 : #707070;
    --grayColor03 : #909090;    
    --grayColor04 : #F3F4F8;
    --pointColor01 : #FFD400;
}

/* 공통 */
.text-point-01 {color:var(--pointColor01);}/* 토스트 포인트 컬러 */
.ebbtn.ty_solid {height:40px;line-height:40px;font-size:14px;background-color:var(--grayColor04);border-radius:10px;}
.ebbtn.full {width:100%;}

/* 마이페이지 > 내정보관리 */
.renewal_2024 .form_set + .section-title {margin-top:32px;}
.renewal_2024 .section-title + .info-list {margin-top:22px;}
.renewal_2024 .info-list-row + .info-list-row {margin-top:16px;}
.renewal_2024 .linkbtn_part {padding-top:32px;}
.renewal_2024 .section-item +.section-item {padding-top:32px;}
.renewal_2024 .section-item {padding-bottom:32px;border-bottom:1px solid #f0f0f0;}
.renewal_2024 .section-item:first-child {padding-top:32px;}
.renewal_2024 .section-title {font-size:19px;}
.renewal_2024 .info-list-row {display:flex;}
.renewal_2024 .info-list-key,
.renewal_2024 .info-list-value {flex-grow:1;font-size:14px;color:var(--grayColor02);}
.renewal_2024 .info-list-key {flex-shrink:0;width:100px;}
.renewal_2024 .info-list-value {text-align:right;}

/* 마이페이지 > 내정보확인 */
.renewal_2024 .form_set .ebullet_circle {margin-top:12px;}
.renewal_2024 .form_set .ebullet_circle > li {font-size:13px;color:var(--grayColor03);line-height:1.5;}
.renewal_2024 .form_set .ebullet_circle > li:after {width:3px;height:3px;}

/* 캡션 */
.renewal_2024 .form_pack + .caption-text {margin-top:12px;}
.renewal_2024 .section-list + .caption-box.has-divider {margin-top:32px;}
.renewal_2024 .caption-box.has-divider {position:relative;padding-top:44px;}
.renewal_2024 .caption-box.has-divider:after {content:'';position:absolute;top:0;left:-25px;right:-25px;height:12px;background-color:var(--grayColor04);}
.renewal_2024 .caption-title {padding-left:22px;font-size:17px;background:url('../image/contents/common/ico_caption.png') no-repeat left center;background-size:20px;}
.renewal_2024 .caption-title + .caption-text {margin-top:16px;}
.renewal_2024 .caption-text {font-size:14px;color:var(--grayColor02);}
.renewal_2024 .caption-text.dot {position:relative;padding-left:9px;}
.renewal_2024 .caption-text.dot:before {content:'';position:absolute;top:8px;left:0;width:3px;height:3px;border-radius:50%;background-color:var(--grayColor02);}
.renewal_2024 .caption-text + .ebbtn.ty_solid {margin-top:12px;}
.renewal_2024 .caption-text.sm {font-size:13px;color:var(--grayColor03);}

/* 메인 - 헤더 */
.header.is_scroll.renewal_2024 {border-bottom:1px solid transparent;}
.header.renewal_2024 .header_area {padding:0 20px;}
.header.renewal_2024.has-bg {background-color:var(--grayColor04);}
.header.renewal_2024 .switch_pack {margin-top:15px;width:60px;background-color:#B4BEC8;}
.header.renewal_2024 .switch_pack .eblabel {left:2px;margin-top:-11px;width:22px;height:22px;}
.header.renewal_2024 .switch_pack .eblabel:before {content:'간편';position:absolute;top:2px;left:26px;width:30px;font-size:13px;color:#fff;font-weight:normal;letter-spacing:0.5px;transition:0.3s;}
.header.renewal_2024 .switch_pack .ebcheckbox[chekced="checked"] + .eblabel,
.header.renewal_2024 .switch_pack .ebcheckbox:checked + .eblabel {left:37px;}
.header.renewal_2024 .switch_pack .ebcheckbox[chekced="checked"] + .eblabel:before,
.header.renewal_2024 .switch_pack .ebcheckbox:checked + .eblabel:before {left:-28px;}
.header.renewal_2024.bg-color {background-color:var(--grayColor04);border-bottom:none;}

/* 메인 - 상품 영역 공통 */
.renewal_2024 .main-section {position:relative;margin:0 -25px;padding:40px 20px;}
.renewal_2024 .main-section:first-child {padding-top:20px;}
.renewal_2024 .main-section.odd {background-color:#fff;border-radius:0 44px 0 44px;}
.renewal_2024 .main-section.odd:first-child {border-radius:0 0 0 44px;}
.renewal_2024 .main-section.odd:before,
.renewal_2024 .main-section.odd:after {content:'';position:absolute;width:44px;height:44px;background-color:#fff;}
.renewal_2024 .main-section.odd:before {top:-44px;left:0;}
.renewal_2024 .main-section.odd:after {bottom:-44px;right:0;}
.renewal_2024 .main-section.odd:first-child:before {display:none;}
.renewal_2024 .main-section.even {z-index:10;background-color:#F4F5F9;border-radius:0 44px 0 44px;}
.renewal_2024 .text-section-title + .section-content {margin-top:16px;}
.renewal_2024 .section-content {padding:0 20px 20px;background-color:#fff;border-radius:18px 36px 18px 36px;box-shadow:0px 10px 40px -8px rgba(0, 0, 0, 0.15);}
.renewal_2024 .section-content-head {position:relative;margin-left:-20px;margin-right:-20px;padding:20px;height:140px;background-color:var(--primaryColor);border-radius:18px 36px 18px 36px;box-sizing:border-box;}
.renewal_2024 .section-content-head:after {content:'';position:absolute;right:20px;bottom:-27px;width:88px;height:123px;background:url('../image/main/img_character_01.png') no-repeat right bottom;background-size:100% auto;}
.renewal_2024 .section-content .btn_normal {height:52px;line-height:52px;font-size:16px;font-weight:700;color:var(--primaryColor);background-color:#F2F5FF;border-radius:10px 20px 10px 20px;}
.renewal_2024 .text-section-title {font-size:19px;font-weight:bold;}
.renewal_2024 .text-section-title:after {content:'';display:inline-block;margin-top:-4px;margin-left:4px;width:20px;height:20px;vertical-align:middle;}
.renewal_2024 .text-section-title.ico-01:after {background:url('../image/main/ico_product_mini_01.png') no-repeat;background-size:100% 100%;}/* 신용대출 */
.renewal_2024 .text-section-title.ico-02:after {background:url('../image/main/ico_product_mini_02.png') no-repeat;background-size:100% 100%;}/* 스탁론 */
.renewal_2024 .text-section-title.ico-03:after {background:url('../image/main/ico_product_mini_03.png') no-repeat;background-size:100% 100%;}/* 자동차금융 */
.renewal_2024 .text-section-title.ico-04:after {background:url('../image/main/ico_product_mini_04.png') no-repeat;background-size:100% 100%;}/* 그 외 */
.renewal_2024 .text-head-title {font-size:20px;font-weight:bold;color:#fff;}
.renewal_2024 .text-head-title em {font-style:normal;color:#ffd400;}

/* 메인 - 1위 영역 */
.renewal_2024 .section-content-head {background:var(--primaryColor) url('../image/layout/bg_nh_text_01.png') no-repeat right bottom;background-size:167px auto;}
.renewal_2024 .section-content-head + .product-keywords {margin-top:46px;margin-right:-10px;}
.renewal_2024 .product-keywords + .btn_normal {margin-top:22px;}
.renewal_2024 .product-keywords {display:flex;flex-wrap:wrap;}
.renewal_2024 .product-keyword {margin-right:10px;margin-bottom:10px;padding:0 14px 0 14px;height:37px;line-height:37px;font-size:15px;letter-spacing:-0.5px;background-color:#F2F5FF;border-radius:20px;}
.renewal_2024 .product-keyword:before {content:'';display:inline-block;margin-right:6px;width:18px;height:18px;vertical-align:middle;background-color:green}
/* 태그 */
.renewal_2024 .section-content-head + .product-reclinks {margin-top:50px;}
.renewal_2024 .product-reclinks {display:flex;justify-content:space-between;padding:0 12px 20px 12px;}
.renewal_2024 .product-reclinks .product-reclink {display:block;font-size:14px;text-align:center;}
.renewal_2024 .product-reclinks .product-reclink:before {content:'';display:block;margin-bottom:12px;width:62px;height:62px;border-radius:20px;}
.renewal_2024 .product-reclinks .product-reclink.ico-01:before {background:var(--grayColor04) url('../image/main/ico_product_link_01.png') no-repeat center center;background-size:32px 36px;}/* 신규대출 */
.renewal_2024 .product-reclinks .product-reclink.ico-02:before {background:var(--grayColor04) url('../image/main/ico_product_link_02.png') no-repeat center center;background-size:32px 36px;}/* 대환대출 */
.renewal_2024 .product-reclinks .product-reclink.ico-03:before {background:var(--grayColor04) url('../image/main/ico_product_link_03.png') no-repeat center center;background-size:32px 36px;}/* 추가대출 */
.renewal_2024 .product-reclinks .product-reclink.ico-04:before {background:var(--grayColor04) url('../image/main/ico_product_link_04.png') no-repeat center center;background-size:32px 36px;}/* 신차구입 */
.renewal_2024 .product-reclinks .product-reclink.ico-05:before {background:var(--grayColor04) url('../image/main/ico_product_link_05.png') no-repeat center center;background-size:32px 36px;}/* 자동차리스 */
.renewal_2024 .product-reclinks .product-reclink.ico-06:before {background:var(--grayColor04) url('../image/main/ico_product_link_06.png') no-repeat center center;background-size:32px 36px;}/* 장기렌터카 */

/* 메인 - 2위 영역 */
.renewal_2024 .main-section.second .section-content-head {background:#E2E8FF url('../image/layout/bg_nh_text_02.png') no-repeat right bottom;background-size:167px auto;}
.renewal_2024 .main-section.second .text-head-title {color:var(--grayColor01);}
/* 목록 */
.renewal_2024 .section-content-head + .product-conditions {margin-top:46px;}
.renewal_2024 .product-conditions {padding-bottom:12px;}
.renewal_2024 .product-condition + .product-condition {margin-top:24px;}
.renewal_2024 .product-condition {display:flex;justify-content:space-between;}
.renewal_2024 .condition-item .text + .text {margin-top:8px;}
.renewal_2024 .condition-item .text {display:block;}
.renewal_2024 .condition-item .text.title {font-size:16px;font-weight:bold;}
.renewal_2024 .condition-item .text.normal {font-size:14px;color:var(--grayColor02);}
.renewal_2024 .condition-item .text.highlight {font-size:15px;font-weight:bold;color:var(--primaryColor);}
.renewal_2024 .condition-item:nth-child(even) .text.normal {text-align:right;}
/* 배너 */
.renewal_2024 .text-section-title + .product-banners,
.renewal_2024 .product-banners .banner-item + .banner-item {margin-top:20px;}
.renewal_2024 .product-banners .banner-link {display:block;padding:24px 126px 24px 20px;min-height:150px;border-radius:26px;box-sizing:border-box;}
.renewal_2024 .product-banners .banner-link.type-01 {background:#F5F6FB url('../image/main/bg_banner_product_01.png') no-repeat right 25px center;background-size:82px auto;}/* 신용대출 */
.renewal_2024 .product-banners .banner-link.type-02 {background:#E8F0FF url('../image/main/bg_banner_product_02.png') no-repeat right 25px center;background-size:82px auto;}/* 스탁론 */
.renewal_2024 .product-banners .banner-link.type-03 {background:#FFF9E3 url('../image/main/bg_banner_product_03.png') no-repeat right 25px center;background-size:82px auto;}/* 자동차금융 */
.renewal_2024 .product-banners .banner-link.type-04 {background:#E9F7F4 url('../image/main/bg_banner_product_04.png') no-repeat right 25px center;background-size:82px auto;}/* 산업재 */
.renewal_2024 .product-banners .banner-link.type-05 {background:#EEEFFF url('../image/main/bg_banner_product_05.png') no-repeat right 25px center;background-size:82px auto;}/* 주택금융 */
.renewal_2024 .product-banners .banner-title + .banner-text {margin-top:12px;}
.renewal_2024 .product-banners .banner-text + .banner-tag {margin-top:4px;}
.renewal_2024 .product-banners .banner-title {font-size:14px;font-weight:500;color:var(--primaryColor);}
.renewal_2024 .product-banners .banner-text {font-size:17px;font-weight:700;}
.renewal_2024 .product-banners .banner-tag {font-size:14px;font-weight:400;color:var(--grayColor02);}
.renewal_2024 .product-banners .banner-tag .tag {display:inline-block;padding-right:5px;}

/* 자주찾는 서비스 */
.renewal_2024 .section-content.no-head {padding:24px 20px 25px 20px;border-radius:24px;box-shadow:0px 4px 30px -8px #0000000D;}
.renewal_2024 .section-content.no-head .section-title {font-size:17px;font-weight:700;}
.renewal_2024 .section-content.no-head .section-title + .product-reclinks {margin-top:20px;padding-bottom:0;}

/* 하단 fixed 빠른메뉴 */
.renewal_2024 .main_gnb_part {min-height:auto}
.renewal_2024 .main_gnb_part .main_gnb_layer {background-color:#fff;border-top:none;border-radius:14px 44px 0 0;box-shadow: 0px -3px 10px 0px #0000000F;}
.renewal_2024 .main_gnb_part .main_gnb_layer .main_gnb ul {display:flex;justify-content:space-evenly;}
.renewal_2024 .main_gnb_part .main_gnb_layer .main_gnb ul > li {width:68px;}
.renewal_2024 .main_gnb_part .main_gnb_layer .main_gnb ul > li .ebbtn.btn_main_menu {padding-top:16px;padding-bottom:7px;box-sizing:border-box;}
.renewal_2024 .main_gnb_part .main_gnb_layer .main_gnb ul > li .ebbtn.btn_main_menu {font-weight:400;color:var(--grayColor01);}
.renewal_2024 .main_gnb_part .main_gnb_layer .main_gnb ul > li:first-child .ebbtn.btn_main_menu {font-weight:700;color:var(--grayColor01);}
.renewal_2024 .main_gnb_part .main_gnb_layer .main_gnb ul > li .ebbtn.btn_main_menu .ebicon {width:24px;height:24px;}
.renewal_2024 .main_gnb_part .main_gnb_layer .main_gnb ul > li .ebbtn.btn_main_menu .text {margin-top:8px;}

/* 메인 이벤트 swiper */
.renewal_2024 .section-content + .main-event-banners {margin-top:24px;}
.renewal_2024 .main-event-banners .swiper-container {padding-bottom:24px;}
.renewal_2024 .main-event-banners .event-banner {display:block;overflow:hidden;border-radius:24px;}
/* swiper indicator */
.renewal_2024 .swiper-pagination-bullet {margin:0 3px;width:6px;height:6px;vertical-align:middle;border-radius:3px;transition:0.3s;}
.renewal_2024 .swiper-pagination-bullet-active {width:17px;background-color:var(--primaryColor)}
.renewal_2024 .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin:0 3px;}
.renewal_2024 .swiper-controls {position:absolute;display:flex;justify-content:center;width:100%;}
.renewal_2024 .swiper-controls .swiper-pagination {position:relative;}
.renewal_2024 .swiper-controls .swiper-pagination + .swiper-toggle {margin-left:3px;}
.renewal_2024 .swiper-toggle-button {width:8px;height:8px;vertical-align:middle;background:url('../image/main/icon_swiper_pause_02.png') no-repeat center center;background-size:6px auto;}
.renewal_2024 .swiper-toggle-button.on {background:url('../image/main/icon_swiper_play.png') no-repeat center center;background-size:6px auto;}

/* 메인 - 로그인 문구 */
.renewal_2024 .contents > .main-section.even:first-child {padding-bottom:24px;}
.renewal_2024 .login-greeting {padding-left:4px;font-size:18px;font-weight:500;}
.renewal_2024 .login-greeting strong {font-weight:700;}

/* 메인 - 보유건수 */
.section-content.my-total {margin-top:24px;}
.section-content.my-total {padding:0;border-radius:18px;box-sizing:border-box;}
.section-content.my-total .my-total-link {display:flex;justify-content:space-between;padding-left:62px;height:64px;line-height:64px;font-size:15px;font-weight:400;background:url('../image/main/ico_character_40x40_01.png') no-repeat left 14px top 12px; background-size:40px auto;}
.section-content.my-total .my-total-num {position:relative;padding-right:38px;font-weight:700;}
.section-content.my-total .my-total-num:before,
.section-content.my-total .my-total-num:after {content:'';position:absolute;width:10px;height:2px;background-color:var(--grayColor01);border-radius:1px;}
.section-content.my-total .my-total-num:before {top:28px;right:20px;transform:rotate(45deg);}
.section-content.my-total .my-total-num:after {top:34px;right:20px;transform:rotate(-45deg);}

/* 메인 - 보유상품 */
.section-content.my-total + .my-product {margin-top:20px;}
.section-content.my-product {position:relative;margin-bottom:24px;padding-top:20px;height:263px;background-color:var(--primaryColor);box-sizing:border-box;}
.my-product-info {position:relative;height:81px;}
.my-product-info .info-list {padding-right:52px;}
.my-product-info .info-list.has-ci {position:relative;padding-left:52px;}
.my-product-info .info-list-item .icon_pack {position:absolute;top:0;left:0;}
.my-product-info .info-list-item .ebicon.icon_bank {width:42px;height:42px;}
.my-product-info .info-list {color:#fff;font-size:14px;font-weight:normal;}
.my-product-info .info-list-item + .info-list-item {margin-top:4px;}
.info-list-item .name {position:relative;font-size:15px;font-weight:700;}
.info-list-item .name + .name {margin-left:3px;padding-left:6px;}
.info-list-item .name + .name:before {content:'';position:absolute;top:5px;left:0;width:1px;height:14px;background-color:#D9D9D9;}
.my-product-info .dday-badge {position:absolute;top:0;right:0;}
.my-product-info .badge {display:inline-block;padding:0 8px;height:20px;line-height:20px;vertical-align:top;font-size:12px;font-weight:300;color:#fff;background-color:#18377E;border-radius:8px;}
.my-product-btm {height:142px;}
.my-product-amount .label {font-size:14px;font-weight:400;color:#A9C3FF;}
.my-product-amount .amount {display:block;line-height:42px;font-size:30px;color:#fff;}
.my-product-amount .num {font-style:normal;font-weight:700;letter-spacing:1px;}
.my-product-amount + .button-flex-box {margin-top:32px;}
.section-content.my-product .button-flex-box {display:flex;justify-content:center;}
.section-content.my-product .ty_bg {flex:1;height:46px;line-height:46px;font-size:16px;font-weight:500;color:#fff;border-radius:18px;background-color:#0A47D6;}
.section-content.my-product .ty_bg + .ty_bg {margin-left:9px;}
.renewal_2024 .section-content.my-product .swiper-controls {position:relative;margin-top:27px;}

/* 간편홈 */
.section-box + .product-simple-links {margin-top:20px;}
.section-content-head + .ebbtn.btn_normal {margin-top:48px;}
.product-simple-links {display:flex;flex-wrap:wrap;justify-content:space-between;}
.product-simple-links .product-simple-item {margin-bottom:20px;width:calc(50% - 7.5px);}
.product-simple-links .simple-link {display:block;padding:20px;height:180px;border-radius:26px;box-shadow: 0px 12px 24px -8px #00000014;box-sizing:border-box;}
.product-simple-links .simple-link.type-01 {background:#fff url('../image/main/bg_banner_product_02.png') no-repeat right 20px bottom 20px;background-size:58px 58px;}/* 스탁론 */
.product-simple-links .simple-link.type-02 {background:#fff url('../image/main/bg_banner_product_03.png') no-repeat right 20px bottom 20px;background-size:58px 58px;}/* 자동차 */
.product-simple-links .simple-link.type-03 {background:#fff url('../image/main/bg_banner_product_04.png') no-repeat right 20px bottom 20px;background-size:58px 58px;}/* 산업재 */
.product-simple-links .simple-link.type-04 {background:#fff url('../image/main/bg_banner_product_05.png') no-repeat right 20px bottom 20px;background-size:58px 58px;}/* 주택금융 */
.product-simple-links .category,
.product-simple-links .text {display:block;}
.product-simple-links .category + .text {margin-top:1px;}
.product-simple-links .category {font-size:16px;font-weight:400;color:var(--primaryColor);}
.product-simple-links .text {font-size:20px;font-weight:700;}