<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">

	<title>타이틀/텍스트 가이드</title>

	<!-- Publishing CSS -->
	<link rel="stylesheet" href="../../../resource/css/ui_plugin.css">
	<link rel="stylesheet" href="../../../resource/css/ui_style.css">

	<!-- Publishing JS -->
	<script src="../../../resource/js/jquery-3.6.0.min.js"></script>
	<script src="../../../resource/js/jquery-ui-1.12.1.min.js"></script>
	<script src="../../../resource/js/ui_plugin.js"></script>
	<script src="../../../resource/js/ui_common.js"></script>

	<!-- zEiLAB - Guide(가이드에만 선언) -->
	<link rel="stylesheet" href="../../../z_eilab/template/guide/guide.css">
	<script src="../../../z_eilab/template/guide/guide.js"></script>
</head>

<body>



<!-- S : Layout -->
<div id="layout">

<h1 class="example_title">&lt; 타이틀/텍스트 가이드 &gt;</h1>



<!-- <div class="example_box">
	<div class="ex_title">대분류</div>
	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">소분류</span><span class="class_name">셀렉터명</span><button type="button" class="source">copy</button></div>
		<div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div>
		<div class="source_code">
소스코드
		</div>
	</div>
</div> -->



<div class="example_box">
	<div class="ex_title">타이틀</div>
	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">기본</span><span class="class_name">.ebtitle2 ~ *</span><button type="button" class="source">copy</button></div>
		<div class="etc_info_wrap">h태그, div태그 함께 사용</div>
		<div class="source_code">

<h2 class="ebtitle2">타이틀</h2>
<h3 class="ebtitle3">타이틀</h3>
<h4 class="ebtitle4">타이틀</h4>

		</div>
	</div>
</div>

<div class="example_box">
	<div class="ex_title">불릿 텍스트</div>
	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">기본</span><span class="class_name">.ebullet_**</span><button type="button" class="source">copy</button></div>
		<!-- <div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->
		<div class="source_code">

<ul class="ebullet_circle">
	<li>텍스트텍스트텍스트텍스트텍스트텍스트</li>
	<li>텍스트텍스트텍스트텍스트텍스트텍스트</li>
</ul>
<br>
<ul class="ebullet_star">
	<li>텍스트텍스트텍스트텍스트텍스트텍스트</li>
	<li>텍스트텍스트텍스트텍스트텍스트텍스트</li>
</ul>
<br>
<ul class="ebullet_bar">
	<li>텍스트텍스트텍스트텍스트텍스트텍스트</li>
	<li>텍스트텍스트텍스트텍스트텍스트텍스트</li>
</ul>

		</div>
	</div>
</div>

<div class="example_box">
	<div class="ex_title">언더라인 텍스트</div>
	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">type - color</span><span class="class_name">.ebunderline.ty_blue</span><button type="button" class="source">copy</button></div>
		<!-- <div class="etc_info_wrap">대표 컬러로 네이밍 / 유사컬러 나올시 컬러옆에 넘버링추가 ex) ty_color01</div> -->
		<div class="source_code">

<span class="ebunderline ty_blue">underline텍스트</span>

		</div>
	</div>
</div>



</div>
<!-- E : layout -->


</body>
</html>
