@charset "utf-8";

/* 주식 쉐도우 리스트 - GI-0010-RB */
.stock-items-area {margin-top:4rem;}
.stock-items {margin-top:1.5rem;}
.stock-items li {padding:2rem;border-radius:0.4rem;box-shadow:var(--shadowStyle);}
.stock-items li:not(:first-of-type) {margin-top:2rem}
.stock-items li .name-area {display:flex;justify-content:space-between;align-items:center;}
.stock-items li .name-area .name{font-size:1.8rem;}
.stock-items li .name-area .category{font-size:1.4rem;}
.stock-items li .listbox{padding:0;margin-top:0.5rem;border:0;}
.stock-items li .listbox .list-title,
.stock-items li .listbox .list-item {padding:0.3rem 0;font-size:1.4rem;}

/* 회색 박스 in 그레프 */
.stock-view-box{padding:2rem;margin-top:3rem;border-radius:0.4rem;background-color:#f2f2f4;}
.stock-view-box .info-area{flex:2}
.stock-view-box .info-items{width:70%}
.stock-view-box .info-items .category{font-size:1.6rem;color:#646873}
.stock-view-box .info-items .name{display:flex;align-items:center;font-size:1.8rem;font-weight:bold;color:#111}
.stock-view-box .portfolio{width:70%;margin-top:1.2rem}
.stock-view-box .portfolio .money-view{font-size:1.6rem;color:#111}
.stock-view-box .portfolio .percent-view{margin-top:0.5rem;font-size:1.6rem;}
.stock-view-box .portfolio.up .percent-view{color:#ec0c0c}
.stock-view-box .portfolio.down .percent-view{color:#2c6dd4}

.stock-view-box .portfolio.arr .percent-view{position:relative;}
.stock-view-box .portfolio.arr.up .percent-view{padding-left:1.3rem;}
.stock-view-box .portfolio.arr.up .percent-view::after{content:'';position:absolute;left:0;top:0.6rem;border-top:0.5rem solid transparent;border-right:0.5rem solid transparent;border-left:0.5rem solid transparent;border-bottom:0.5rem solid #ec0c0c;}
.stock-view-box .portfolio.arr.down .percent-view{padding-left:1.3rem;}
.stock-view-box .portfolio.arr.down .percent-view::after{content:'';position:absolute;left:0;top:1.1rem;border-top:0.5rem solid #2c6dd4;border-right:0.5rem solid transparent;border-left:0.5rem solid transparent;border-bottom:0.5rem solid transparent;}



.stock-view-box .stock-view {margin-top:2rem;border-radius:0.4rem;}
.stock-view-box .function-btn-area{display:flex;flex-direction:column-reverse;justify-content:space-between;flex-wrap:wrap;align-items:flex-end}			
.stock-view-box .stock-info-box{display:flex;}
.pop-content .stock-view-box{margin-top:0;}

/* 테이블 모양에 리스트 형태 - GI-0020-RB */
.stock-table-custom{margin-top:2rem;border-top:1px solid #aeafb4;}
.stock-table-custom .unit{}
.stock-table-custom .unit dl{display:flex;width:100%;}
.stock-table-custom .unit dl dt{display:flex;align-items:center;justify-content:flex-end;flex:1;height:5.2rem;padding:0.5rem 2rem;border-right:1px solid #e0e0e4;border-bottom:1px solid #e0e0e4;font-weight:bold;color:#111;background-color:#f6f6f6;}
.stock-table-custom .unit dl dd{display:flex;flex:1;flex-direction:column;justify-content:center;height:5.2rem;padding:0.5rem 2rem;border-bottom:1px solid #e0e0e4;font-weight:bold;color:#111;text-align:right;}
.stock-table-custom .unit dl dd .sub{display:block;margin-top:-0.2rem;font-weight:normal;font-size:1.3rem;}
.stock-table-custom .unit.up dl dd{color:#ec0c0c}
.stock-table-custom .unit.down dl dd{color:#2c6dd4}

/* 주식종목 검색 */
.search-result-list{border-top:1px solid #aeafb4}
.search-result-list .search-result-info{padding:1.4rem 1rem;border-bottom:1px solid #e0e0e4;font-size:1.5rem;background-color:#f2f2f4}
.search-result-list .board-list-column li{display:flex;justify-content:space-between;padding:1.4rem 1rem;border-bottom:1px solid #e0e0e4;font-size:1.5rem;}

/* 국내종목 순위 */
.stock-ranking-table-area {margin-top:4rem}
.stock-ranking-table-area .align-between {margin-bottom:1rem;}
.stock-ranking-table-area .stock-ranking-table {overflow:hidden;border:1px solid #e0e0e4;border-radius:0.4rem;}
.stock-ranking-table-area .stock-ranking-table .table{border:0}
.stock-ranking-table-area .stock-ranking-table .table th{padding:0.6rem 0 0.7rem;border-right:0;border-left:0;font-size:1.3rem;vertical-align:top;white-space:nowrap;text-overflow:ellipsis;}
.stock-ranking-table-area .stock-ranking-table .table td{position:relative;padding:1.2rem 0;line-height:1.5rem;border-right:0;border-left:0;font-size:1.3rem;vertical-align:top;white-space:nowrap;text-overflow:ellipsis;}
.stock-ranking-table-area .stock-ranking-table .table tbody td .category{display:inline-block;width:5.6rem;font-size:1rem;color:#646873}
.stock-ranking-table-area .stock-ranking-table .table tbody td .category + .num{display:inline-block;font-size:1rem;color:#646873}
.stock-ranking-table-area .stock-ranking-table .table tbody tr td .idx{position:absolute;right:0;top:1.2rem;}
.stock-ranking-table-area .stock-ranking-table .table tbody tr td .sub-text{position:absolute;right:0;top:2.8rem;color:#111;font-size:1rem;}
.stock-ranking-table-area .stock-ranking-table .table tbody tr.up td:not(:first-child){color:#ec0c0c}
.stock-ranking-table-area .stock-ranking-table .table tbody tr.down td:not(:first-child){color:#2c6dd4}
.stock-ranking-table-area .stock-ranking-table .table tbody tr td .arr,
.stock-ranking-table-area .stock-ranking-table .table tbody tr td .arr{position:absolute;right:0;padding-right:0.925em;}
.stock-ranking-table-area .stock-ranking-table .table tbody tr.up td .arr:after{content:'';position:absolute;right:0;top:0.4rem;border-top:0.325em solid transparent;border-right:0.325em solid transparent;border-left:0.325em solid transparent;border-bottom:0.325em solid #ec0c0c;}
.stock-ranking-table-area .stock-ranking-table .table tbody tr.down td .arr:after{content:'';position:absolute;right:0;top:0.75rem;border-top:0.325em solid #2c6dd4;border-right:0.325em solid transparent;border-left:0.325em solid transparent;border-bottom:0.325em solid transparent;}
/* 국내종목 순위 테이블을 위한 common 테이블 변형 */
.stock-ranking-table-area .stock-ranking-table .table tbody tr:last-child th,
.stock-ranking-table-area .stock-ranking-table .table tbody tr:last-child td{border-bottom:0}
.stock-ranking-table-area .stock-ranking-table .table tbody td:not(:first-child) {text-align:right;}
.stock-ranking-table-area .stock-ranking-table .table tbody td:first-child {padding-left:1rem;}
.stock-ranking-table-area .stock-ranking-table .table tbody td:last-child {padding-right:1rem;}
.stock-ranking-table-area .stock-ranking-table .table tbody td:last-child .sub-text {right:1rem}

/* 주식지수 아코디언 */
.stock-index-accordion{}
.stock-index-accordion .accordion{}
.stock-index-accordion .accordion .list-item{margin-top:2rem;border:1px solid #e0e0e4;border-radius:0.4rem;}
.stock-index-accordion .accordion .list-item:first-child{margin-top:0;}
.stock-index-accordion .accordion .list-item > dl > dt a{padding:1.3rem 2.4rem;font-size:1.6rem;font-weight:bold;color:#111;background-color:#f2f2f4;}
.stock-index-accordion .accordion .list-item > dl > dt + dd{padding:0}
.stock-index-accordion .accordion .list-item > dl > dt::after{content:'\e98c';font-size:1.7rem;}
.stock-index-accordion .accordion .list-item > dl > dt.js-active::after{content:'\e992';}
.stock-index-list li{display:flex;justify-content:space-between;padding:1rem 2rem;border-top:1px solid #e0e0e4;}
.stock-index-list li:first-child{border-top:0;}
.stock-index-list li .category-box{display:flex;flex-direction:column;}
.stock-index-list li .category-box .category{font-size:1.3rem;color:#111}
.stock-index-list li .category-box .date{font-size:1rem;color:#bdbdbd}
.stock-index-list li .index-box{display:flex;flex-direction:column;}
.stock-index-list li .index-box .index{font-size:1.3rem;font-weight:bold;color:#111;text-align:right;}
.stock-index-list li .index-box .fluctuate{display:flex;position:relative;padding-left:1.2em;font-size:1rem;color:#646464;text-align:right;}
.stock-index-list li .index-box .fluctuate .percent{width:4.2rem}

.stock-index-list li.up .index-box .fluctuate{color:#ec0c0c;}
.stock-index-list li.up .index-box .fluctuate::after {content:'';position:absolute;left:0;top:0.3em;border-top:0.4em solid transparent;border-right:0.4em solid transparent;border-left:0.4em solid transparent;border-bottom:0.4em solid #ec0c0c;}
.stock-index-list li.down .index-box .fluctuate{color:#2c6dd4;}
.stock-index-list li.down .index-box .fluctuate::after {content:'';position:absolute;left:0;top:0.7em;border-top:0.4em solid #2c6dd4;border-right:0.4em solid transparent;border-left:0.4em solid transparent;border-bottom:0.4em solid transparent;}

/* 증권메인 - 마이 자산 */
.my-assets-area{margin-top:4rem;}
.shadowbox-my-assets{padding:0 1rem; margin-top:1.2rem;}
.shadowbox-my-assets .listbox{width:100%;border:0}
.shadowbox-my-assets .listbox [class^="list-"] {padding:1rem 0; border-top:1px solid #e0e0e4; font-size:1.4rem;}
.shadowbox-my-assets .listbox .list-item {font-size:1.6rem;}
.shadowbox-my-assets .listbox .list-title:first-child,
.shadowbox-my-assets .listbox .list-title:first-child + .list-item {border-top:0}
/* 증권메인 - 마이 자산 */
.table-hor-scrolling {display:flex;overflow:hidden;position:relative;padding-bottom:0.5rem;margin-top:1.2rem;border-radius:0.4rem;}
.table-hor-scrolling .stock-item-list {position:relative;z-index:2;width:10.6rem;border:1px solid #e0e0e4;border-radius:0.4rem 0 0 0.4rem;}
.table-hor-scrolling .stock-item-list::after {content:'';position:absolute;right:-1.5rem;top:0;bottom:0;z-index:2;width:1.5rem;background:linear-gradient(to right, #e0e0e4, transparent)}
.table-hor-scrolling .stock-item-list .title {padding:1.2rem;border-right:1px solid #e0e0e4;font-size:1.3rem;color:#646873;text-align:center;background-color:#f2f2f4;border-radius:0.2rem 0 0 0;}
.table-hor-scrolling .stock-item-list .item {position:relative;min-height:5.4rem;border-top:1px solid #e0e0e4;border-right:1px solid #e0e0e4;padding:3.2rem 1.2rem 0.6rem;background-color:#fff}
.table-hor-scrolling .stock-item-list .item:last-child {border-radius:0 0 0 0.2rem;}
.table-hor-scrolling .stock-item-list .item .name{display:flex;align-items:center;position:absolute;left:0;top:0;height:3.2rem;line-height:1.1rem;padding:0 1.2rem;font-size:1.3rem;color:#111}
.table-hor-scrolling .stock-item-list .item .category{display:block;font-size:1rem;color:#646873}
.table-hor-scrolling .stock-state-box {position:relative;width:calc(100% - 10.6rem);}
.table-hor-scrolling .stock-state-box .stock-state-swiper{overflow:hidden;height:100%;border:1px solid #e0e0e4;}
.table-hor-scrolling .stock-state-box .swiper-wrapper{}
.table-hor-scrolling .stock-state-box .swiper-slide{width:auto}
.table-hor-scrolling .stock-state-box .swiper-slide:first-child .stock-state-items div{border-left:1px solid #e0e0e4;}
.table-hor-scrolling .stock-state-box .swiper-scrollbar {bottom:-0.5rem;height:0.2rem;background-color:#efefef;}
.table-hor-scrolling .stock-state-box .swiper-scrollbar-drag {background-color:#08862a;}
.table-hor-scrolling .stock-state-items .title{padding:1.2rem;border-right:1px solid #e0e0e4;font-size:1.3rem;color:#646873;text-align:center;background-color:#f2f2f4;}
.table-hor-scrolling .stock-state-items .item{display:flex;align-items:center;justify-content:flex-end;min-width:8rem;min-height:5.4rem;border-top:1px solid #e0e0e4;border-right:1px solid #e0e0e4;padding:0 1.2rem 0 3rem;font-size:1.3rem;color:#111;text-align:right;background-color:#fff;}
.no-data.table-hor{padding:4rem 0;margin-top:1.2rem;border:1px solid #e0e0e4;border-radius:0.4rem;font-size:1.7rem;background-color:#fff;}
.no-data.table-hor .button-group-reset{justify-content:center;margin-top:3rem}

/* 오늘의 증시 */
.today-stock-market-area {overflow:hidden;margin:4rem var(--paddMinusCommon) 0}
.today-stock-market-area .today-stock-market-title {padding:0 var(--paddCommon)}
.today-stock-market-area .today-stock-market {overflow:visible;margin:1rem var(--paddCommon) 1.6rem}
.today-stock-market .group {display:flex;justify-content:space-between;width:100%;margin-top:0.4rem}
.today-stock-market .group:first-child {margin-top:0;}
.today-stock-market .swiper-slide {width:calc(50% - 1rem)}
.today-stock-market .shadowbox-item {flex-wrap:wrap;justify-content:space-between;align-items:flex-start;min-height:7.6rem;padding:1.6rem 1.4rem;border-radius:0.4rem;}
.today-stock-market .shadowbox-item .category {min-width:5.6rem;font-size:1.4rem;font-weight:bold;word-break:break-all;}
.today-stock-market .shadowbox-item .index {font-size:1.4rem;font-weight:bold;color:#646873;text-align:right;word-break:break-all;}
.today-stock-market .shadowbox-item .fluctuate {position:relative;font-size:1.3rem;color:#646873;word-break:break-all;}
.today-stock-market .shadowbox-item .percent {font-size:1.3rem;color:#646873;text-align:right;word-break:break-all;}
.today-stock-market .shadowbox-item.up .index,
.today-stock-market .shadowbox-item.up .fluctuate,
.today-stock-market .shadowbox-item.up .percent {color:#ec0c0c}
.today-stock-market .shadowbox-item.up .fluctuate {padding-left:0.95em;}
.today-stock-market .shadowbox-item.up .fluctuate::after {content:'';position:absolute;left:0;top:0.325em;border-top:0.325em solid transparent;border-right:0.325em solid transparent;border-left:0.325em solid transparent;border-bottom:0.325em solid #ec0c0c;}
.today-stock-market .shadowbox-item.down .index,
.today-stock-market .shadowbox-item.down .fluctuate,
.today-stock-market .shadowbox-item.down .percent {color:#2c6dd4}
.today-stock-market .shadowbox-item.down .fluctuate {padding-left:0.9em;}
.today-stock-market .shadowbox-item.down .fluctuate::after {content:'';position:absolute;left:0;top:0.65em;border-top:0.325em solid #2c6dd4;border-right:0.325em solid transparent;border-left:0.325em solid transparent;border-bottom:0.325em solid transparent;}
.today-stock-market-area .swiper-wrapper + .swiper-scrollbar {bottom:-0.8rem;height:0.2rem;background-color:#efefef;}
.today-stock-market-area .swiper-wrapper + .swiper-scrollbar .swiper-scrollbar-drag {background-color:#08862a;}
