@charset "utf-8";
/* v1.0 | 2022-05-27 */


/*
	대분류
*/
/* 소분류 */


/*
	color
*/
.color01 { color: #ea3636 !important; }
.color02 { color: #00ba89 !important; }
.color03 { color: #0066b1 !important; }
.color04 { color: #1e4066 !important; }
.color05 { color: #707070 !important; }
.color06 { color: #f8c029 !important; }

/*
	정렬
*/
/* 세로정렬 */
.va_t { vertical-align: top !important; }
.va_c { vertical-align: center !important; }
.va_b { vertical-align: bottom !important; }

/* 가로정렬 */
.txt_l { text-align: left !important; }
.txt_c { text-align: center !important; }
.txt_r { text-align: right !important; }



/*
	width
*/
/* % */
.w100per { width: 100% !important; }


/*
	줄떨어짐
*/
.wordk { word-break: keep-all !important; }


/* 금융소비자보호 개인신용평가결과대응권 - MAFCTP04110001.html */
.ptitle_part02 .desc .eblist > li { margin-bottom: 9px; }
.ptitle_part02 .desc .eblist > li:last-of-type { margin-bottom: 0; }

/* 메인 알림 - MANHCM02000001.html */
.noti_result_part { padding-top: 24px; }
.noti_result_part .noti_list {  }
.noti_result_part .noti_list > ul {  }
.noti_result_part .noti_list > ul > li > a { display: block; padding: 18px 25px; }
.noti_result_part .noti_list > ul > li.new > a { background: #f0f6fb; }
.noti_result_part .noti_list > ul > li > a .info_box { margin-bottom: 15px; display: table; table-layout: fixed; width: 100%; }
.noti_result_part .noti_list > ul > li > a .info_box .category { display: table-cell; vertical-align: middle; font-weight: bold; font-size: 13px; color: #1e4066; }
.noti_result_part .noti_list > ul > li > a .info_box .date { display: table-cell; vertical-align: middle; text-align: right; font-size: 13px; color: #909090; }
.noti_result_part .noti_list > ul > li > a .desc_box {  }
.noti_result_part .noti_list > ul > li > a .desc_box .desc { font-weight: bold; font-size: 14px; color: #707070; }
.noti_result_part .noti_list > ul > li.new > a .desc_box .desc { color: #303030; }

.sub_info_part { display: none; padding-top: 28px; text-align: center; }
.sub_info_part.show { display: block; }
.sub_info_part .desc_box { font-size: 14px; color: #707070; }

/* 메인 온라인 약정 선택 - MANHCM03000001.html */
.choice_part { padding-top: 26px; }
.choice_part .choice_list > ul > li { border-bottom: 1px solid #f3f4f8; }
.choice_part .choice_list > ul > li:first-of-type { border-top: 1px solid #f3f4f8; }
.choice_part .choice_list .item { text-align: left; display:block; padding: 28px 10px 27px 2px; box-sizing: border-box; background: url('../image/component/btn_detail_arrow.png') no-repeat right center/7px; font-size: 0; }
.choice_list .item .name { display: inline-block; vertical-align: middle; padding-left: 15px; font-weight: 500; font-size: 16px; }
.icon_cdln { width: 25px; height: 25px; background: url('../image/contents/nhcm/icon_cdln.png') no-repeat center/contain; }
.icon_stln { width: 25px; height: 25px; background: url('../image/contents/nhcm/icon_stln.png') no-repeat center/contain; }
.icon_atfn { width: 25px; height: 25px; background: url('../image/contents/nhcm/icon_atfn.png') no-repeat center/contain; }
.icon_cmfn { width: 25px; height: 25px; background: url('../image/contents/nhcm/icon_cmfn.png') no-repeat center/contain; }

/* 금융소비자보호 금융소비자 이슈메세지 - MAFCTP05030001.html */
.board_list.ty_01 { margin-top: -15px; }
.board_list.ty_01 > ul > li > a .title { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-weight: 500; font-size: 16px; color: #303030; }
.board_list.ty_01 > ul > li > a .date { margin-top: 7px; color: #707070; }

/* 신용대출 신규대출 한도조회결과 - MACDLN01010007.html */
.result_data_part .result_data_box + .img_txt_pack { margin-top: 40px; }
.result_data_part .img_txt_pack { padding: 24px 24px 20px 24px; box-sizing: border-box; border: 1px solid #e6e6e6; border-radius: 5px; }
.result_data_part .img_txt_pack .cont_box { margin-bottom: 15px; display: table; font-size: 0; }
.result_data_part .img_txt_pack .cont_box .cell { display: table-cell; vertical-align: middle; }
.result_data_part .img_txt_pack .cont_box .cell + .cell { padding-left: 15px; }
.result_data_part .img_txt_pack .cont_box .cell .img_box { width: 45px; }
.result_data_part .img_txt_pack .cont_box .cell .text_box { letter-spacing: -0.2px; font-weight: bold; font-size: 14px; }
.result_data_part .img_txt_pack .arrow_box { text-align: right; }

/* 기타상품 */
.intro_part .intro_main .img_txt_pack { padding: 30px 25px; border-radius: 5px; background: #fafafc; }
.intro_part .intro_main .img_txt_pack + .img_txt_pack { margin-top: 15px; }
.intro_part .intro_main .img_txt_pack .img_box { margin-bottom: 22px; width: 40px; }
.intro_part .intro_main .img_txt_pack .text_box > dl > dt { font-weight: bold; }
.intro_part .intro_main .img_txt_pack .text_box > dl > dd { margin-top: 5px; font-size: 13px; color: #707070; }

.ebicon.icon_company02 { width: 40px; height: 40px; background: url('../image/contents/otfn/icon_company02.png') no-repeat center/contain; }
.ebicon.icon_merger { width: 40px; height: 40px; background: url('../image/contents/otfn/icon_merger.png') no-repeat center/contain; }
.ebicon.icon_mezz { width: 40px; height: 40px; background: url('../image/contents/otfn/icon_mezz.png') no-repeat center/contain; }
.ebicon.icon_pef { width: 40px; height: 40px; background: url('../image/contents/otfn/icon_pef.png') no-repeat center/contain; }
.ebicon.icon_pf { width: 40px; height: 40px; background: url('../image/contents/otfn/icon_pf.png') no-repeat center/contain; }

/* 자동차금융 약정서작성 결제정보 - MAATFN05030004.html */
.form_part + .page_subtitle_part { padding-top: 46px; }

/* 신용대출 신규대출 약관동의 - MACDLN01010003.html */
.detail_conts.ty_01 .recommend_part .chkbox_list { padding-top: 0; padding-left: 0; }

/* 공통 전자서명 등록 - MOCOMM03000002.html */
.page_subtitle_part .desc b { color: #303030; }
.sign_part + .form_part { margin-top: 30px; }
.sign_wrap .title_wrap { margin-bottom: 5px; }
.sign_wrap .desc { font-size: 14px; color: #707070; }
.sign_wrap .title_wrap + .conts_wrap { margin-top: 13px; }
.sign_wrap .desc + .conts_wrap { margin-top: 17px; }
.sign_wrap .conts_wrap .sign_box { display: -webkit-flex; display: -ms-flexbox; display: -moz-box; display: -webkit-box; display: flex; }
.sign_wrap .conts_wrap .sign_box .write_area { position: relative; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-flex: 1; -webkit-flex: 1; flex: 1; text-align: center; line-height: 118px; font-weight: bold; font-size: 26px; color: #e6e6e6; }
.sign_wrap .conts_wrap .sign_box .write_area::after { content: ""; position: absolute; top: 0; right: 0; width: 1px; height: 100%; background: #f0f0f0; }
.sign_wrap .conts_wrap .sign_box .write_area:last-of-type::after { display: none; }

.checkbox_pack.ty_02 .ebcheckbox { top: 0; margin-top: 0; }

/* 스탁론 신규대출 약관동의 - MASTLN01010002 */
.btn_process_part .title { margin-bottom: 26px; font-size: 15px; }
.btn_process_part .title .color02 { padding-right: 5px; font-weight: 500; }
.btn_process_part .ebbtn.btn_multi +.ebbtn.btn_multi { margin-top: 15px; }
.ebbtn.btn_multi.btn_icon_download { padding: 9px 32px 8px 20px; border-radius: 6px; height: auto; line-height: inherit; background: url('../image/icon/icon_download2.png') no-repeat right 20px center/12px; text-align: left; font-weight: normal; font-size: 15px; color: #303030; }
.ebbtn.btn_multi.chkstatus { padding: 9px 32px 8px 20px; border-radius: 6px; height: auto; line-height: inherit; background: url('../image/component/checkbox_check_checked.png') no-repeat right 20px center/10px; text-align: left; font-weight: normal; font-size: 15px; color: #303030; }

/* 스탁론 신규대출 증권계좌정보 - MASTLN01010003.html */
.form_set .term_pack.ty_02 { margin-top: 0; }
.term_pack.ty_02 .detail_agree { border-top: none; }

/* 로그인 자동로그아웃 안내 - MALOGN_Logout.html */
.timeleft { width: 100%; height: 110px; padding: 20px 42px 25px; line-height: inherit; box-sizing: border-box; border: 1px solid #ccf1e7; border-radius: 12px; }
.timeleft .txt { display: block; margin-bottom: 13px; padding-right: 0; }
.timeleft .time { display: block; font-size: 29px; }

/* 고객센터 대출모집인/전화상담원 조회 - MACTCN05000001.html */
.result_part.bgsimplediv .detail_box + .detail_box { margin-top: 15px; }
.result_part.bgsimplediv .result_text { margin-bottom: 17px; font-size: 14px; }

.detail_box .detail_num { margin-top: 5px; font-size: 13px; color: #707070; }
.detail_box .detail_num + .detail_conts { margin-top: 17px; }
.popup_container .detail_box .detail_conts { line-height: 1.4; }

.detail_conts .address dt { width: 40%; }