<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">



	<title>NH농협캐피탈</title>

	<!-- Publishing CSS -->
	<link rel="stylesheet" href="../../../resource/css/ui_plugin.css">
	<link rel="stylesheet" href="../../../resource/css/ui_style.css">

	<!-- Publishing JS -->
	<script src="../../../resource/js/jquery-3.6.0.min.js"></script>
	<script src="../../../resource/js/jquery-ui-1.12.1.min.js"></script>
	<script src="../../../resource/js/ui_plugin.js"></script>
	<script src="../../../resource/js/ui_common.js"></script>
</head>
<body>


<div class="layout"></div>



<!--
	◆조작가이드
	-팝업열기 : <div class="modal_popup show">
    -팝업닫기 : 닫기버튼에 data-action="close" 추가
	-열려있는팝업모두닫기 : 닫기버튼에 data-action="close_all" 추가
	-팝업삭제 : 닫기버튼에 data-action="remove" 추가
	-팝업모두삭제 : 닫기버튼에 data-action="remove_all" 추가
-->

<div id="tempId" class="modal_popup"><!-- 노출 className = show -->
	<div class="popup_layout"><!-- 크기지정 : style=" width: **px; height: **px" -->
		<div class="popup_inner">

            <div class="popup_header">
                <h3 class="ebtitle3">타이틀</h3>
                <button type="button" class="ebbtn btn_modal_close" title="팝업닫기" data-action="remove"></button>
            </div>

			<div class="popup_body">
				<div class="popup_container">

                    팝업내용팝업내용팝업내용팝업내용팝업내용팝업내용<br/>
                    팝업내용팝업내용팝업내용팝업내용팝업내용팝업내용<br/>
					팝업내용팝업내용팝업내용팝업내용팝업내용팝업내용<br/>
                    팝업내용팝업내용팝업내용팝업내용팝업내용팝업내용<br/>
					팝업내용팝업내용팝업내용팝업내용팝업내용팝업내용
				</div>
			</div>

			<div class="popup_footer">
				<div class="popup_footer_area">

					<div class="btn_box">
                        <div class="box_l">
                            <button type="button" class="ebbtn btn_main ty_light">취소</button>
                        </div>
                        <div class="box_r">
                            <button type="button" class="ebbtn btn_main ty_bg">확인</button>
                        </div>
                    </div>

				</div>
			</div>


		</div>

	</div>
</div>


<script>
    //팝업호출
    popupFunc('#tempId').show();
</script>


</body>
</html>